main {
	min-height: 100vh;
	background-image: url('../img/main_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 30px;
	font-weight: 900;
}

.header__name {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
}

.header__link {
	font-size: 14px;
	margin-left: 15px;
	color: #fff;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

main .content {
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.title {
	/*font-family: 'Rubik Mono One', sans-serif;*/
}

h1.title {
	font-size: 95px;
	margin-bottom: 16px;
	color: #fff;
	font-weight: 900;
}

h2.title {
	font-size: 55px;
	font-weight: 900;
}

.subtitle {
	font-size: 25px;
	margin-bottom: 58px;
	color: #fff;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	border-radius: 20px;
	background-color: #74e85d;
	color: #fff;
}

section {
	padding: 150px 0;

}

.about__text {
	max-width: 70%;
	font-size: 26px;
	line-height: 1.45;
}

section.features {
	background-color: #1a1a1a;
	color: #fff;
}

.features h2 {
	color: #fff;
	margin-bottom: 100px;
}

.features .content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.features__image {
	padding-top: 10px;
	width: 45%;
}

.features__list {
	max-width: 45%;
}

.feature {
	display: flex;
	align-items: flex-start;
	margin-bottom: 16px;
}

.feature__icon {
	min-width: 100px;
	max-width: 100px;
	margin-right: 50px;
}

.feature__text {
	padding-top: 10px;
	color: #fff;
	font-size: 16px;
}

